<div class="text-center border p-3 pb-3 ml-lg-4">
  <%= profile_avatar @agent %>
  <h3 class="h4 m-0"><%= @agent.full_name %></h3>
  <p><%= @agent.company %></p>

  <!--<button class="btn btn-info text-uppercase">Call</button>-->
  <%= link_to "Profile", profile_path(@agent.id), class: "btn btn-secondary text-uppercase" %>
  <button class="btn btn-success text-uppercase" data-toggle="modal" data-target="#contact-modal">Email</button>
</div>