 <div class="text-center">
   <div class="mb-2">
     <%= profile_avatar agent %>
   </div>
    <h3 class="h4 m-0"><%= agent.full_name %></h3>
    <p><%= agent.company %></p>

    <div class="row justify-content-md-center">
      <div class="col-md-10 ">
        <button class="btn btn-block btn-success text-uppercase mb-1 w-100" data-toggle="modal" data-target="#contact-modal">
          <i class="fas fa-envelope me-2"></i>Email</button>
      </div>
    </div>
  </div>