<main role="main">

  <div class="jumbotron pt-5 pb-5">
    <div class="container">
      <h1 class="mt-5 ms-3 text-center">Find dream place for yourself...</h1>
    </div>
  </div>

  <section id="latest-properties" class="mb-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="mb-2 mt-5 mx-4">Latest Properties</h3>
        </div>
      </div>
      <div class="row">
        <%= render "properties/latest_properties", properties: @properties %>
      </div>
    </div>
  </section>

</main>

<%= render "layouts/footer" %>