<footer class="container bg-black m-0 fixed-bottom justify-content-lg-center w-100">
  <p class="navbar-brand">&copy; Property Management & Reservation System 2022</p>
  <p>Created by: AW</p>
</footer>