<footer class="footer mt-auto justify-content-lg-center w-100 bg-dark py-3 text-white text-center row">
  <p class="col">&copy; Property Management & Reservation System <%= Time.now.strftime("%Y") %></p>
  <p class="col">Made in Rails by: AW</p>
</footer>